body {
  margin-top: 60px;
  background-color: #F8F8F8;
}

#main-content {
  padding-top: 5px;
  margin-left: 250px;
}

nav.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
}

.sidebar {
  width: 250px;
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.avatar {
  width: 315px;
  height: 315px;
}

.img-navbar {
  width: 40px;
  height: 40px;
  background-color: #F8F8F8;
  border-radius: 100%;
  max-width: 100%;
  object-fit: cover;
}